{{ define "main" }}
<article class="landing">
  {{ partial "crofty/profile.html" . }}
  {{ .Content }}
  {{ $posts := where site.RegularPages "Section" "posts" }}
  {{ with $posts }}
  {{ $paginator := $.Paginate . }}
  <section class="recent">
    <h2>{{ i18n "writing" }}</h2>
    <ul class="post-list">
      {{ range $paginator.Pages }}
      <li>
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        {{ with .Date }}<time datetime="{{ .Format "2006-01-02" }}">{{ .Format "Jan 2, 2006" }}</time>{{ end }}
      </li>
      {{ end }}
    </ul>
  </section>
  {{ partial "crofty/pagination.html" $ }}
  {{ end }}
</article>
{{ end }}
